.flex{
    display: flex;
}
.flex h3{
    padding-left: 2rem;
}

.bg-color{
    background-color: #eee;
    height: 10vh;
    margin-top: 10rem;
}

.bg-color p{
   text-align: center;
   padding-top: 1.5rem;
}